<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://www.angularjswiki.com/angular/use-ngoptimizedimage-to-improve-image-loading-performance-in-angular/featured.png" alt="" height="200px" width="390px">
    </div>
    <div class="big-card__title">
        <h1><a href="https://angular.io/guide/image-directive">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="https://angular.io/guide/image-directive">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur possimus a modi fuga perferendis nostrum corporis rerum tempore totam quam minima, rem corrupti, quo, omnis fugiat id veniam! Quidem, sequi!
        </a>
        </p>
    </div>
</div>
